* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  pointer-events: none;
}

#main-conainer {
  width: 100%;
  max-width: 80%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 40px;
}

#inner-container {
  padding: 20px;
}

#box-top-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.elem {
  text-align: center;
  flex: 1;
}

.elem h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.box {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

#box-bottom-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pointer-events: none;
}

.bubble {
  pointer-events: visibleStroke;
  width: 60px;
  height: 60px;
  background: #2196f3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bubble:hover {
  background: #0264af;
}
.anim {
  animation: shake 0.5s ease-in-out;
  background: green;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.timer-anim {
  background: darkred;
  color: #fff;
  animation: pulse 0.5s infinite alternate;

  /* font-size: 40px; */
}

@keyframes pulse {
  0% {
    background: darkred;
    font-size: 30px;
  }
  100% {
    background: red;
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  #game-over > h1 {
    text-align: center;
    font-size: 25px;
  }
  #game-over > h2 {
    font-size: 20px;
  }
  .bubble {
    width: 36px;
    height: 36px;
    font-size: 20px;
  }
  @keyframes pulse {
    0% {
      background: darkred;
      font-size: 15px;
    }
    100% {
      background: red;
      font-size: 25px;
    }
  }
}
